@import "./Variable";
.navbar-parent-container {
  padding: 10px;
  border-bottom: 1px solid $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .navbar-left-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navbar-logo {
    height: 50px;
    width: 50px;
  }
  .navbar-heading {
    color: $color-primary;
    font-family: $font-primary;
  }
  .right-container-heading {
    text-align: end;
    color: $color-primary;
    font-family: $font-primary;
  }
}
