@import "./Variable";
.search-parent-container {
  background: $color-background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-container {
  max-width: 800px;
  width: 100%;
}

.main-heading {
  font-size: 2.8rem;
  margin-top: 20px;
  text-align: center;
  font-family: $font-primary;
  color: $color-tertiary;
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  .wrapper {
    display: flex;
    margin-bottom: 20px;
  }
  .search-icon {
    border: 0;
    outline: 0;
    color: $color-primary;
    background-color: rgba(244, 243, 243, 0.979);
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#search-type {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid $color-primary;
  outline: 0;
  color: $color-tertiary;
  .option {
    background-color: $color-background;
  }
}
.wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
}
#search-box {
  width: 90%;
  border-radius: 10px;
  background-color: $color-secondary;
  padding: 8px;
  font-size: 1.28rem;
  color: $color-tertiary;
  border: 1px solid $color-primary;
  outline: 0;
}
#search-box::-webkit-search-cancel-button {
  appearance: none;
}
.mic-btn {
  border: 0;
  outline: 0;
  color: $color-primary;
  cursor: pointer;
  background-color: rgba(244, 243, 243, 0.979);
  border-radius: 50%;
}
.mic-working {
  animation: listening 1s linear 0s infinite alternate;
  border-radius: 50%;
  padding: 0;
  background-color: rgba(244, 243, 243, 0.979);
  color: $color-primary;
  cursor: pointer;
}
@keyframes listening {
  0% {
    box-shadow: 0 0 18px 0px #fd9a10da;
  }
  50% {
    box-shadow: 0 0 25px 0px #fd9a109d;
  }
  100% {
    box-shadow: 0 0 50px 0px #fd9a10c3;
  }
}
